@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --blue: #043c63;
    --green: #80cb11;
}

.main-section-img {
    height: 100vh;
    width: 100vw;   

    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;

    position: relative;
}

nav {
    background: white;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    background: transparent;
    position: fixed;

    z-index: 1;
}

.nav-logo {
    display: inline-block;
    height: 60px;
    width: 70px;
}

.nav-logo-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-logo-text span:nth-of-type(1) {
    height: min-content;

    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
}

.nav-logo-text span:nth-of-type(2) {
    font-size: 0.7rem;
}

.nav-links {
    margin-right: 2rem;
}

.nav-link {
    color: black;
    font-size: medium;
    font-weight: 700;
    margin: 0 0.5rem;

    border-radius: 10px;

    transition: all 0.1s;
}

.nav-link:hover, .nav-link-active {
    background: var(--blue);
    color: white;
}

.main-section {
    position: absolute;
    top: 35%;
    left: 12%;
}

.quote-section {    
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    z-index: 1;
}

.quote-section > h2 {
    width: fit-content;
    background: -webkit-linear-gradient(var(--blue), var(--green));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.btn-section .btn {
    color: white;
    font-weight: 600;
    
    text-transform: uppercase;
}

.btn-section .btn:nth-of-type(1) {
    background: var(--green);
    margin-right: 0.5rem;
}

.btn-section .btn:nth-of-type(2) {
    background: var(--blue);
    margin-left: 0.5rem;
}

.btn:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .main-section {
        left: 3rem;
    }
}

@media (max-width: 990px) {
    .main-section-img {
        background-position-y: 4.75rem; 
        background-size: calc(132vh + 1rem);
    }
    
    nav {
        background: var(--blue);
    }
    
    .nav-link:hover, .nav-link-active {
        background: none;
        color: black;
    }

    .main-section {
        left: 2rem;
    }

    .quote-section {
        font-size:3rem;
        width: 25rem;
    }

    .quote-section > h2 {
        font-weight: 600;
    }
}

@media (max-width: 550px) {
    .main-section-img {
        background-position-x: -300px;
        background-position-y: 4.75rem; 
        background-size: calc(132vh + 1rem);

        /* background-color: #80cb11; */
    }

    nav {
        background: var(--blue);
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .main-section {
        left: 0.5rem;
    }

    .quote-section {
        width: fit-content;
        font-size:3.3rem;
    }
}

@media (max-width: 400px) {
    .main-section-img {
        background-position-x: -340px;
    }

    .quote-section {
        font-size: 2.2rem;
    }

    .quote-section > h2 {
        font-weight: normal;
    }
}